/* _content/Lego_Inventory/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/* 🔹 Remove unwanted space below navbar */
body[b-5uln8wa2iu], .main-container[b-5uln8wa2iu] {
  margin: 0;
  padding: 0;
}

/* 🔹 Ensure navbar has no bottom margin */
.navbar[b-5uln8wa2iu] {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
a.navbar-brand[b-5uln8wa2iu] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-5uln8wa2iu] {
  color: #0077cc;
}

.logo[b-5uln8wa2iu]{
  width: 200px;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
}


.btn-primary[b-5uln8wa2iu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-5uln8wa2iu], .nav-pills .show > .nav-link[b-5uln8wa2iu] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-5uln8wa2iu] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-5uln8wa2iu] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-5uln8wa2iu] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-5uln8wa2iu] {
  font-size: 1rem;
  line-height: inherit;
}

footer[b-5uln8wa2iu] {
  position: relative;
  background-color: rgba(80, 48, 80, 0.8); /* Optional: Semi-transparent */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto; /* Removes extra space */

}
